extends ../index.pug

block content
    .container
        .products-list-wrapper
            if !products.length > 0
                tr
                    td(colspan="3")="No hay productos"
            else
                table(class="products-list")
                    thead
                        tr
                            th="Título"
                            th="Precio"
                            th="Url"
                    tbody
                        each product in products
                            tr
                                td=product.title
                                td=product.price
                                td
                                    img(class="product-image", src=product.image)
        
        a.button(href="/")="Ingresar producto"